@import "common/styles/colors.scss";

.h_full {
  height: calc(100vh - 80px);
}

.left_content {
  color: $white;
  background-color: $primary;
}

@mixin div_rounded_br_tl($rightRadius, $leftRadius, $indent) {
  .div_rounded_br_tl_#{$rightRadius}_#{$leftRadius}_#{$indent} {
    border-bottom-right-radius: max(#{$rightRadius}vw, #{$rightRadius}vh);
    border-top-left-radius: max(#{$leftRadius}vw, #{$leftRadius}vh);
    height: calc(100vh + #{$indent}px);
  }
}

@include div_rounded_br_tl(50, 0, 32);

.icon_arrow {
  background-color: $primary;
  cursor: pointer;
}

.w_60_percentage {
  width: 60%;
}
