.h_full {
  height: calc(100vh - 80px);
}

.mirrored_image_position {
  right: -37.5%;
  bottom: 70%;
}

.previous_button {
  bottom: 0%;
  left: 50%;
}

.next_button {
  bottom: 0%;
  right: 0%;
}

.locations_container {
  height: 375px;
}
