// Main colors
$primary: #16191b;

$secondary: #ff3465;
$secondary-dark: #fd3765a5;

// Social media icons colors
$facebook: #4267b2;
$google: #db4437;
$instagram: #e1306c;

// Misc colors
$black: #000000;
$white: #ffffff;

$blue: #2271ff;

$brown: #1f1e1f;

$red: #dd4a48;

$gray: #eaeaea;
$gray-dark: #a8a7a7;
$gray-light: #f8f8f8;
$gray-lighter: #f4f5f7;
