// Main colors
$primary: #16191b;
$secondary: #ff3465;

// Social media icons colors
$facebook: #4267b2;
$google: #db4437;
$twitter: #1da1f2;
$instagram: #e1306c;

// Misc colors
$blue: #2271ff;

$black: #000000;

$brown: #1e1e1e;

$white: #ffffff;

$gray-dark: #828a90;
$gray: #9e9e9e;
$gray-light: #efefef;
$gray-lighter: #f4f5f7;
