@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./colors.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg_primary {
  background-color: $primary;
}

.bg_secondary {
  background-color: $secondary;
}

.bg_secondary_dark {
  background-color: $secondary-dark;
}

.bg_brown {
  background-color: $brown;
}

.bg_white {
  background-color: $white;
}

.bg_blue {
  background-color: $blue;
}

.font_primary {
  color: $primary;
}

.font_secondary {
  color: $secondary;
}
