@import "common/styles/colors.scss";

.input {
  font-size: 1rem;
}

.input::placeholder {
  font-size: 1rem;
}

.invalid_input {
  border: 1px solid $red !important;
}

.invalid_icon {
  color: $red;
}

.mirrored_icon {
  transform: scale(-1, 1);
}
